<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <th:block th:fragment="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="https://www.facebook.com/">Facebook</a>
                        <a href="https://www.whatsapp.com/?lang=it">Whatsapp</a>
                        <a href="https://www.instagram.com/">Instagram</a>
                        <a href="https://www.tiktok.com/">Tik Tok</a>
                    </div>
                </div>
            </div>
        </footer>
    </th:block>
</body>

</html>